<div class="b-section-headline">
  <div class="container">
    <header class="mb-6">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fw-bold m-0">{{headline}}</h2>
        </div>
        <div class="col-auto">
          <a href="#" title="#" class="text-uppercase fw-bold text-decoration-none e-icon-link">
            <i class="zmdi zmdi-settings"></i>
            Categories
          </a>
        </div>
      </div>
    </header>

    <div class="card">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>
