
<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.svg" alt="Logo" width="48" height="48">
    </a>


    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="home" routerLinkActive="active"
          ><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="counter" routerLinkActive="active"
          ><i class="zmdi zmdi-n-1-square"></i> Counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="calc" routerLinkActive="active"
          ><i class="zmdi zmdi-functions"></i> Math</a>
        </li>

      </ul>
    </div>

    <ng-container *ngIf="(user$ | async) as user; else loginTemplate">
      <div ngbDropdown class="mt-lg-4" [title]="user.name">
        <button class="e-user" type="button" ngbDropdownToggle>
          {{user.name }}
        </button>

        <ul ngbDropdownMenu >
          <li><button type="button" class="dropdown-item" (click)="logout()">Logout</button></li>
        </ul>
      </div>
    </ng-container>

    <ng-template #loginTemplate>
      <button class="e-user" type="button" (click)="login()">
        Login
      </button>
    </ng-template>

  </div>
</nav>



<router-outlet></router-outlet>

