<div class="card mb-3 clickable">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <span class="badge rounded-pill text-bg-violet">{{ message.name }}</span>
      </div>
      <div class="col-auto">
        <small class="text-body-secondary"
        >{{ message.created | date:'medium' }}</small>
      </div>
    </div>
    <p class="card-text fw-bold mb-4 mt-3">{{ message.message }}</p>
    <p class="card-text">
      <small class="text-body-secondary">Question by: {{ message.createdBy?.name }}</small></p>
  </div>
</div>
