<div class="b-section-headline">
  <div class="container">
    <header class="mb-6">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fw-bold m-0">Home</h2>
        </div>
        <div class="col-auto">
          <a href="#" title="#" class="text-uppercase fw-bold text-decoration-none e-icon-link">
            <i class="zmdi zmdi-settings"></i>
            Categories
          </a>
        </div>
      </div>
    </header>

    <div class="card">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>

<div class="container my-8">
  <section>

    <header class="mb-4">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fw-bold m-0">Latest questions</h2>
        </div>
        <div class="col-auto">
          <a href="#" title="#" class="text-uppercase fw-bold text-decoration-none">See all</a>
        </div>
      </div>
    </header>

    <div class="card mb-3 clickable">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="badge rounded-pill text-bg-violet">name</span>
          </div>
          <div class="col-auto">
            <small class="text-body-secondary">created</small>
          </div>
        </div>
        <p class="card-text fw-bold mb-4 mt-3">message</p>
        <p class="card-text"><small class="text-body-secondary">Question by: </small></p>
      </div>
    </div>


  </section>
</div>
