<app-section-headline [headline]="'Home'"></app-section-headline>

<app-section-container header="Latest questions">

  <app-message *ngFor="let item of (questions$ | async)"
               class="clickable"
  [message]="item" (click)="onQuestionClick(item)"></app-message>

  <div class="mt-8 text-end">
    <button type="button" class="text-uppercase fw-bold text-decoration-none e-icon-link e-icon-link--action"
            (click)="onNewQuestionClick()">
      <i class="zmdi zmdi-plus"></i>
      New question
    </button>
  </div>


</app-section-container>

